/* Setup */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    --dark-gray: #5d5c61;
    --light-gray: #8d9594;
    --light-blue: #7395AE;
    --dark-blue: #557A95;
    --brown: #B1A296;
    --main-color: rgb(36, 36, 36);
    --main-color-light: rgb(77, 77, 77);
    --second-color: rgb(240, 240, 240);
    --third-color: rgb(113, 186, 238);
    --third-color-dark: rgb(53, 156, 230);
}

html {
    font-size: 10px;
    background-color: var(--second-color);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-position: inside;
}

body {
    background-color: var(--second-color);
}

button:focus {
    outline: 0;
}

/* Landing */
.landing {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.landing-image-container {
    display: flex;
    background-color: lightblue;
    height: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 3rem;
}

#landing #picture-and-quote #image {
    height: 50%;
    width: auto;
    border-radius: 100%;
}

.landing-text-container {
    background-color: gray;
    height: 50%;
    padding: 2rem;
}

.landing-text h1 {
    color: lightblue;
    margin-bottom: 0.5rem;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 0.8rem;
    border-bottom: 0.2rem solid lightblue;
}

.landing-text p {
    font-size: 2rem;
    line-height: 3rem;
    color: white;
    margin: 1rem;
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    font-size: 2rem;
}

/* Project Box */
.project-boxes {
    display: grid;
    align-items: top;
    justify-items: center;
    grid-template-columns: 100%;
}

.project-box {
    background-color: gray;
    width: 80%;
    border: 0.2rem solid lightblue;
    border-radius: 1rem;
    margin: 1rem;
}

.project-box h1{
    color: lightblue;
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
}

.project-box h2 {
    text-align: center;
    color: lightblue;
    border: 0.2rem solid lightblue;
    border-radius: 2rem;
    width: fit-content;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.project-box img {
    display: block;
    width: 100%;
    height: auto;
}

.project-box p {
    color: white;
    padding: 1rem;
    font-size: 2rem;
    margin: 1rem;
}

#landing #about-me p {
    font-size: 1.8rem;
    margin: 0.5rem 1rem;
    width: 90%;
}

#landing #about-me a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 1rem;
    width: 60%;
    height: 4rem;
    text-align: center;
    color: white;
    background-color: var(--main-color);
    border-radius: 0.2rem;
}

#landing #about-me a:hover {
    background-color: var(--main-color-light);
}

/* Spotlight */
#spotlight {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
    padding-bottom: 2rem;
}

/* Spotlight Header */
#spotlight #spotlight-header {
    width: 100%;
    height: auto;
    background-color: var(--main-color);
}

#spotlight #spotlight-header h1 {
    padding: 1rem;
    width: 100%;
    font-size: 3rem;
    font-weight: normal;
    color: white;
    text-align: center;
}

/* Spotlight Project */
#spotlight .project-box {
    background-color: var(--second-color);
    width: 90%;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.2rem;
    box-shadow: 3px 3px black;
}

#spotlight .project-box h1 {
    font-size: 2.8rem;
    border-bottom: solid var(--main-color) 0.2rem;
    padding: 0.3rem;
    width: 80%;
    text-align: center;
}

#spotlight .project-box .tags {
    display: flex;
    flex-direction: row;
}

#spotlight .project-box .tags h2 {
    font-size: 1.8rem;
    border: solid var(--third-color) 0.2rem;
    color: var(--third-color);
    padding: 0.1rem 0.3rem;
    margin: 0.5rem;
}

#spotlight .project-box img {
    width: 100%;
    height: auto;
    margin: 1rem 0.2rem;
    margin-top: 0rem;
}

#spotlight .project-box p {
    font-size: 2rem;
    width: 90%;
}

#spotlight .project-box a {
    margin: 2rem;
    width: 80%;
    font-size: 3rem;
    background-color: var(--third-color);
    color: white;
    box-shadow: 0;
    border-radius: 0.8rem;
    text-align: center;
    padding: 1rem;
}

#spotlight .project-box a:hover {
    background-color: var(--third-color-dark);
}

/* Projects */
#projects {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-color);
}

/* Projects Header inside of Projects */
#projects #projects-header {
    width: 100%;
    height: auto;
}

#projects #projects-header h1{
    font-size: 3rem;
    text-align: center;
    margin-top: 1.5rem;
}

/* Projects Categories inside of Projects */
#projects-categories {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: solid var(--main-color) 0.2rem;
}

#projects-categories button {
    margin: 0.5rem 2rem;
    padding: 0.5rem 1rem;
    background-color: var(--main-color-light);
    color: white;
    font-size: 2rem;
}

#projects-categories button:hover {
    background-color: var(--main-color);
}

/* Projects Container */
#projects-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

/* Project Box inside of Projects Containers */
#projects-container .project-box {
    background-color: var(--main-color);
    width: 90%;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.2rem;
    margin: 1rem;
    color: white;
}

#projects-container .project-box h1 {
    font-size: 3rem;
    border-bottom: solid var(--main-color) 0.2rem;
    padding: 0.3rem;
    width: 80%;
    text-align: center;
}

#projects-container .project-box .tags {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 0.1rem 0.3rem;
    margin: 0.5rem;
    justify-content: center;
}

#projects-container .project-box .tags h2 {
    font-size: 1.8rem;
    border: solid var(--third-color) 0.2rem;
    color: var(--third-color);
    padding: 0.1rem 0.3rem;
    margin: 0rem 0.5rem;
}

#projects-container .project-box img {
    width: 100%;
    height: auto;
    margin: 1rem 0.2rem;
    margin-top: 0rem;
}

#projects-container .project-box button {
    width: 100%;
    height: 4rem;
    font-size: 2rem;
    background-color: var(--second-color);
    color: black;
    border-radius: 0.2rem;
    text-transform: uppercase;
}

#projects-container .project-box button:hover {
    background-color: white;
}

/* Expand in Project Box inside of Projects Container */
#projects-container .project-box .expand {
    display: none;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

#projects-container .project-box .expand p {
    font-size: 2rem;
    width: 90%;
    height: auto;
    margin: 0.5rem 0;
}

#projects-container .project-box .expand a {
    margin: 1rem;
    width: 80%;
    font-size: 3rem;
    background-color: var(--third-color);
    color: white;
    box-shadow: 0;
    border-radius: 0.8rem;
    text-align: center;
    padding: 1rem;
}

#projects-container .project-box .expand a:hover {
    background-color: var(--third-color-dark);
}

/* 


    Media Queries


*/
@media only screen and (min-width: 800px){
    html {
        font-size: 13px;
    }

    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #spotlight {
        grid-column: 2;
        grid-row: 2;
    }

    #projects {
        grid-column: 1;
        grid-row: 2;
    }

    /* Landing */
    #landing {
        flex-direction: row;
        grid-column: 1 / span2;
    }

    /* Picture and Quote in Landing */
    #landing #picture-and-quote {
        width: 50vw;
        height: 100vh;
    }
    
    #landing #picture-and-quote #image {
        height: 40%;
        margin-bottom: 1rem;
    }
    
    #landing #picture-and-quote h1 {
        font-size: 3rem;
    }
    
    /* About Me in Landing */ 
    #landing #about-me {
        width: 50vw;
        height: 100vh;
    }

    /* Projects Container */
    #projects-container {
        grid-template-columns: 1fr 1fr;
    }

    /* Project Box inside of Projects Containers */
    #projects-container .project-box {
        align-self: center;
        justify-self: center;
    }
}