/* Setup */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    --dark-gray: #5d5c61;
    --light-gray: #8d9594;
    --light-blue: #7395AE;
    --dark-blue: #557A95;
    --brown: #B1A296;
    --main-color: rgb(36, 36, 36);
    --main-color-light: rgb(110, 110, 110);
    --second-color: rgb(240, 240, 240);
    --third-color: rgb(113, 186, 238);
    --third-color-dark: rgb(53, 156, 230);
}

html {
    font-size: 10px;
    background-color: var(--second-color);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-position: inside;
}

body {
    background-color: var(--second-color);
}

button:focus {
    outline: 0;
}

/* Landing */
#landing {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Picture and Quote in Landing */
#landing #picture-and-quote {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
}

#landing #picture-and-quote #image {
    height: 50%;
    width: auto;
    /*background-image: url(../imgs/lightbulbpicture.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
    border-radius: 100%;
}

#landing #picture-and-quote h1 {
    color: white;
    margin: 1rem;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
    border: solid var(--second-color);
    border-width: 0.2rem 0;
    padding: 0.5rem;
}

/* About Me in Landing */ 
#landing #about-me {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#landing #about-me h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem;
    border-bottom: solid var(--main-color) 0.2rem;
    width: 60%;
}

#landing #about-me p {
    font-size: 1.8rem;
    margin: 0.5rem 1rem;
    width: 90%;
}

/* Spotlight */
#spotlight {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
    padding-bottom: 2rem;
}

/* Spotlight Header */
#spotlight #spotlight-header {
    width: 100%;
    height: auto;
    background-color: var(--main-color);
    padding: 1rem;
}

#spotlight #spotlight-header h1 {
    font-size: 3rem;
    font-weight: normal;
    color: white;
    text-align: center;
}

/* Spotlight Project */
#spotlight .project-box {
    background-color: var(--second-color);
    width: 90%;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.2rem;
    box-shadow: 3px 3px black;
}

#spotlight .project-box h1 {
    font-size: 2.8rem;
    border-bottom: solid var(--main-color) 0.2rem;
    padding: 0.3rem;
    width: 80%;
    text-align: center;
}

#spotlight .project-box .tags {
    display: flex;
    flex-direction: row;
}

#spotlight .project-box .tags h2 {
    font-size: 1.8rem;
    border: solid var(--third-color) 0.2rem;
    color: var(--third-color);
    padding: 0.1rem 0.3rem;
    margin: 0.5rem;
}

#spotlight .project-box img {
    width: 100%;
    height: auto;
    margin: 1rem 0.2rem;
    margin-top: 0rem;
}

#spotlight .project-box p {
    font-size: 2rem;
    width: 90%;
}

#spotlight .project-box a {
    margin: 2rem;
    width: 80%;
    font-size: 3rem;
    background-color: var(--third-color);
    color: white;
    box-shadow: 0;
    border-radius: 0.8rem;
    text-align: center;
    padding: 1rem;
}

#spotlight .project-box a:hover {
    background-color: var(--third-color-dark);
}

/* Projects */
#projects {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-color);
}

/* Projects Header inside of Projects */
#projects #projects-header {
    width: 100%;
    height: auto;
}

#projects #projects-header h1{
    font-size: 3rem;
    text-align: center;
    margin-top: 1.5rem;
}

/* Projects Categories inside of Projects */
#projects-categories {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: solid var(--main-color) 0.2rem;
}

#projects-categories button {
    margin: 0.5rem 2rem;
    padding: 0.5rem 1rem;
    background-color: var(--main-color-light);
    color: white;
    font-size: 2rem;
}

#projects-categories button:hover {
    background-color: var(--main-color);
}

/* Projects Container */
#projects-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

/* Project Box inside of Projects Containers */
#projects-container .project-box {
    background-color: var(--main-color);
    width: 90%;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.2rem;
    margin: 1rem;
    color: white;
}

#projects-container .project-box h1 {
    font-size: 3rem;
    border-bottom: solid var(--main-color) 0.2rem;
    padding: 0.3rem;
    width: 80%;
    text-align: center;
}

#projects-container .project-box .tags {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 0.1rem 0.3rem;
    margin: 0.5rem;
    justify-content: center;
}

#projects-container .project-box .tags h2 {
    font-size: 1.8rem;
    border: solid var(--third-color) 0.2rem;
    color: var(--third-color);
    padding: 0.1rem 0.3rem;
    margin: 0rem 0.5rem;
}

#projects-container .project-box img {
    width: 100%;
    height: auto;
    margin: 1rem 0.2rem;
    margin-top: 0rem;
}

#projects-container .project-box button {
    width: 100%;
    height: 4rem;
    font-size: 2rem;
    background-color: var(--second-color);
    color: black;
    border-radius: 0.2rem;
    text-transform: uppercase;
}

#projects-container .project-box button:hover {
    background-color: white;
}

/* Expand in Project Box inside of Projects Container */
#projects-container .project-box .expand {
    display: none;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

#projects-container .project-box .expand p {
    font-size: 2rem;
    width: 90%;
    height: auto;
    margin: 0.5rem 0;
}

#projects-container .project-box .expand a {
    margin: 1rem;
    width: 80%;
    font-size: 3rem;
    background-color: var(--third-color);
    color: white;
    box-shadow: 0;
    border-radius: 0.8rem;
    text-align: center;
    padding: 1rem;
}

#projects-container .project-box .expand a:hover {
    background-color: var(--third-color-dark);
}